target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

## Contraseñas y autenficacion Aouth2 de Google
cliente id 734006212088-o5m9tmp8eiqeu9lju87tb373tsgmm7pl.apps.googleusercontent.com
secreto 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

##DB con traseña 
root root
